  {% extends "envios/base.html" %}

{% block titulo %}
    <h1> INFORMACIÓN DE CENTROS </h1>
{%endblock %}

{% block content %}
{% if centros %}
<table class="table table-striped">
  <thead>
  	<tr>
  	  <th>CÓDIGO CENTRO</th>
  	  <th>NOMBRE CENTRO</th>
  	  <th>LOCALIDAD</th>
  	  <th>URL</th>
  	  <th>Acciones</th>
  	</tr>
  </thead>
{% for c in centros %}
    <tr>
    	<td>{{ c.cid }} </td>
    	<td><a href="{% url 'list_centro' c.cid %}">{{ c.nombre}}</a> </td>
    	<td>{{ c.get_localidad_display }} </td>
    	<td>{{ c.url }}</td>
    	<td><a href="{% url 'edit_centro' c.cid %}">EDITAR</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
