<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block titlepag %} TRABAJOS ACADEMICOS UZ > {% endblock %}
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'envio/style.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light"">
    <a class="navbar-brand" rel="home" href="http://www.unizar.es/">
              <img id="logounizartop" alt="Logo UNIZAR" src="{% static 'envio/img/logoUZ.png' %}">
    </a>
    <div id="navegacion-top" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="/admin">ADMIN</a></li>
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'list_all_centros' %}">Centros</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'list_all_estudios' %}">Estudios</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'list_all_planes' %}">Planes</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'list_all_personas' %}">Personas</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'list_all_matriculas' %}">Matriculas</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'list_all_entregas' %}">Entregas</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'edit_create_entrega' 512798 %}">NUEVA ENTREGA 512798
        </a></li>
        </ul>
        {% if request.user.username %}
        Conectado como {{ request.user.username }}
        {% endif %}
     </div>
  </nav>
  
  <div class="jumbotron text-center">
    {% block titulo %}
        <h1> TRABAJOS DEMO APP </h1>
    {% endblock %}
  </div>
  
  {% if avisos %}
  <div class="alert alert-warning">
    {% block avisos %}
        {{ avisos }}
    {% endblock %}
  </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% block content %}
          {{ contents }}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
