{% load i18n %} 

<!DOCTYPE html>
<html lang="en">
<head>
<title>
{% block titlepag %} TRABAJOS ACADEMICOS UZ > {% endblock %}
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'envio/style.css' %}">
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-light bg-light"">
    <a class="navbar-brand" rel="home" href="{% url 'index' %}">
              <img id="logounizartop" alt="Logo UNIZAR" src="{% static 'envio/img/logoUZ.png' %}">
    </a>
    <div id="navegacion-top" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
              {% if request.user.is_staff %}
                   <li class="nav-item"><a class="nav-link" style="color:red;" href="/admin">{% trans "ADMIN" %}</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" href="{% url 'micuenta' %}" role="button">{% trans "Cuenta" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'list_all_entregas' %}" role="button">{% trans "Entregas realizadas" %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'edit_create_entrega' %}">{% trans "Nueva entrega" %}</a></li>
          {% else %}
              <li class="nav-item"><a class="nav-link" href="{% url 'login' %}" role="button">{% trans "Identificarme" %}</a></li>
          {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
        {% trans "Conectado como" %} {{ request.user.username }} | <a href="{% url 'logout' %}">{% trans "Salir" %}</a>
        {% load i18n %}
        {% endif %}
     </div>
  </nav>
  
  <div class="jumbotron text-center">
    {% block titulo %}
        <h1> {% trans "Depósito de trabajos académicos" %}</h1>
    {% endblock %}
  </div>
  
  {% if avisos %}
  <div class="alert alert-warning">
    {% block avisos %}
        {{ avisos }}
    {% endblock %}
  </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% block content %}
          {{ contents }}
        {% endblock %}
      </div>
    </div>
  </div>
  <footer class="fixed-bottom bg-light">
    <div class="float-left size-1">&copy; Universidad de Zaragoza - Servicio de Informática y Comunicaciones</div>
    <div class="float-right">
        <!-- language selector -->
        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                    {{ language.name_local }} ({{ language.code }})
                </option>
            {% endfor %}
        </select>
        <!-- actualmente tienes seleccionado el idioma {{ LANGUAGE_CODE }} -->
        <input type="submit" value='{% trans "Go" %}'>
        </form>
         <!-- end language selector -->
    </div>
  </footer>
</body>
</html>
