{% extends "envio/base.html" %}

{% block titulo %}
    <h1> INFORMACIÓN DE ENTREGAS </h1>
{% endblock %}

{% block content %}
     {% if entregas %}
         <table class="table table-striped">
           <thead>
           	<tr>
              <th></th>
              <th>FECHA ENTREGA</th>
           	  <th>ALUMNO</th>
           	  <th>PLAN</th>
              <th>TITULO</th>
           	</tr>
           </thead>
         {% for e in entregas %}
             <tr>
              <td>
                <a href="{% url 'list_entrega' e.tid %}"><i class="far fa-eye"></i>
                <a href="{% url 'edit_create_entrega' e.tid %}"><i class="far fa-edit"></i>
                <a href="#" onclick="confirmar('¿Seguro que deseas borrar?','{% url 'delete_entrega' e.tid %}');">
                  <i class="fa fa-trash"></i>
                </a> 
              </td>
              <td>{{ e.fecha }}</td>
             	<td>{{ e.matricula.persona }}</td>
             	<td>{{ e.matricula.plan }}</td>
              <td>{{ e.titulo }}</td>
             </tr>
         {% endfor %}
         </table>
     {% else %}
         <p>No hay entregas en la base de datos.</p>
     {% endif %}
{% endblock %}
