{% extends "envio/base.html" %}
{% load i18n %} 

{% block titulo %}
    <h1> GESTIONAR ENTREGAS </h1>
{% endblock %}

{% block content %}
     {% if entregas %}
         <table class="table table-striped">
           <thead>
           	<tr>
              <th></th>
              <th>FECHA ENTREGA</th>
           	  <!--<th>ALUMNO</th>-->
           	  <th>PLAN</th>
              <th>TITULO</th>
              <th>ESTADO</th>
           	</tr>
           </thead>
         {% for e in entregas %}
           {% if forloop.last %}
             <tr class="last">
           {% else %}
             <tr class="notlast">
           {% endif %}
              <td>
                <a href="{% url 'list_entrega' e.tid %}"><i class="far fa-eye"></i>
                {% if e.estado == 0 %}
                  <a href="{% url 'edit_create_entrega' e.tid %}"><i class="far fa-edit"></i>
                  <a href="#" onclick="confirmar('¿Seguro que deseas borrar?','{% url 'delete_entrega' e.tid %}');">
                  <i class="fa fa-trash"></i>
                {% endif %}
                </a> 
              </td>
              <td>{{ e.fecha }}</td>
             	<!--<td>{{ e.matricula.persona }}</td>-->
             	<td>{{ e.matricula.plan }}</td>
              <td>{{ e.titulo }}</td>
              <td>
                <!--{{ e.get_estado_display }}-->
                <!-- not very elegant implementation of range in tpls. refer to https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
                <i class="fa fa-dot-circle"></i> 
                {% with ''|center:e.estado as range %}
                    {% for _ in range %}
                       <i class="fa fa-dot-circle"></i> 
                    {% endfor %}
                {% endwith %}
              </td>
             </tr>
         {% endfor %}
         </table>
     {% else %}
         <p>No hay entregas en la base de datos.</p>
     {% endif %}

     <div id="infoestados">
         <span style="font-weight:bold">{% trans 'Información de estados' %}</span><br />
         <p>
          <i class="fa fa-dot-circle"></i> {% trans 'Sin confirmar: entrega pendiente de confirmar por alumno' %}<br />
          <i class="fa fa-dot-circle"></i><i class="fa fa-dot-circle"></i> {% trans 'Confirmado: entrega pendiente de confirmar por Tribunal/Secreataría' %}<br />
          <i class="fa fa-dot-circle"></i><i class="fa fa-dot-circle"></i><i class="fa fa-dot-circle"></i> {% trans 'Validado: entrega confirmada por Secretaría' %}<br />
          <i class="fa fa-dot-circle"></i><i class="fa fa-dot-circle"></i><i class="fa fa-dot-circle"></i><i class="fa fa-dot-circle"></i> {% trans 'En Zaguan: trabajo disponible en el Repositorio' %}<br />
        </p>
     </div>
{% endblock %}
