{% extends "envio/base.html" %}
{% load i18n %} 

{% block titulo %}
    <h1> {{ entrega.titulo }} </h1>
    <a href="{% url 'edit_create_entrega' entrega.tid %}"><i class="far fa-edit"></i>{% trans "Editar" %}</a>
    <a href="#" onclick="confirmar('¿Seguro que deseas borrar?','{% url 'delete_entrega' e.tid %}');">
        <i class="fa fa-trash"></i>
    </a> 
{% endblock %}

{% block content %}

<table class="table table-striped">
    <tbody>
      <tr>
          <th>{% trans "Fecha" %}</th>
            <td>{{ entrega.fecha }}</td>
        </tr>
        <tr>
          <th>{% trans "Alumno" %}</th>
            <td>{{ entrega.matricula.persona.nombre }} {{ entrega.matricula.persona.apellidos }}</td>
        </tr>
        <tr>
          <th>{% trans "Título" %}</th>
            <td>{{ entrega.titulo }}</td>
        </tr>
        <tr>
          <th>{% trans "Resumen" %}</th>
            <td>{{ entrega.resumen }}</td>
        </tr>
        <tr>
          <th>{% trans "Memoria" %}</th>
            <td>
              {% if entrega.memoria %}
              <a href="{{MEDIA_URL}}{{ entrega.memoria }}"><i class="far fa-eye"></i> {% trans "Ver Memoria" %}</a>
              {% endif %}
            </td>
        </tr>
        <tr>
          <th>{% trans "Anexos" %}</th>
            <td>
              {% if entrega.anexos %}
              <a href="{{MEDIA_URL}}{{ entrega.anexos }}"><i class="far fa-eye"></i> {% trans "Ver Anexos" %}</a>
              {% endif %}
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}
