{% extends "envio/base.html" %}

{% block titulo %}
    <h1> INFORMACIÓN DE ESTUDIOS </h1>
{%endblock %}

{% block content %}
{% if estudios %}
    <table class="table table-striped">
      <thead>
      	<tr>
      	  <th>CÓDIGO ESTUDIO</th>
      	  <th>NOMBRE ESTUDIO</th>
      	  <th>TIPO</th>
      	  <th>CENTROS</th>
      	</tr>
      </thead>
    {% for e in estudios %}
        <tr>
        	<td>{{ e.eid }} </td>
        	<td><a href="{% url 'list_estudio' e.eid %}">{{ e.nombre}}</a> </td>
        	<td>{{ e.get_tipo_display }} </td>
        	<td>
              {% for centro in e.centros.all %} 
                    <a href="{% url 'list_centro' centro.cid %}">{{ centro.nombre }}</a><br /> 
              {% endfor %}
          </td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No hay estudios en la base de datos.</p>
{% endif %}
{% endblock %}
