{% extends "envio/base.html" %}

{% block titulo %}
    <h1> {{ estudio.nombre }} </h1>
{% endblock %}

{% block content %}
<!-- for debugging purposes -->
<textarea onclick="this.focus();this.select()" style="width: 100%;"> 
    {% filter force_escape %} {% debug %} {% endfilter %}
</textarea>
<!-- ToDo: delete -->

<table class="table table-striped">
    <tbody>
        <tr>
          <th>Nombre de estudio</th>
            <td>{{ estudio.nombre }}</td>
        </tr>
        <tr>
          <th>Código de estudio</th>
            <td>{{ estudio.eid }}</td>
        </tr>
        <tr>
          <th>Impartido en:</th>
          <td>
          {% for plan in estudio.plan_set.all %}
            <a href="{% url 'list_centro' plan.centro.cid %}">{{ plan.centro }}</a> (<a href="{%url 'list_plan' plan.pid %}">PLAN {{ plan.pid }}</a>)<br />
          {% endfor %}
          </td>
        </tr>
        <tr>
          <th>+INFO (link externo):</th>
            <td><a href="https://estudios.unizar.es/estudio/ver?id={{ estudio.eid }}">Ver en web de ESTUDIOS</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
