{% extends "envio/base.html" %}
{% load i18n %} 

{% block content %}
{% if request.user.is_authenticated %}
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'micuenta' %}" role="button">{% trans "Mi cuenta" %}</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'micuenta' %}" role="button">{% trans "Entregas" %}</a>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'edit_create_entrega' %}" role="button">{% trans "Nueva entrega" %}</a>
{% else %}
    <p style="text-align: center">{% trans "Para depositar de tu Trabajo debes estar identificado" %}</p>
    <a class="btn btn-primary btn-lg btn-block" href="{% url 'login' %}" role="button">{% trans "Identificarme" %}</a>
{% endif %}

{% endblock %}