{% extends "envio/base.html" %}
{% load i18n %} 

{% block titulo %}
    <h1>{% trans "Matrículas" %} </h1>
{% endblock %}

{% block content %}
     {% if matriculas %}
         <table class="table table-striped">
           <thead>
           	<tr>
              <th>{% trans "Curso" %}</th>
           	  <th>{% trans "Alumno" %}</th>
           	  <th>{% trans "Plan/Estudio" %}</th>
           	</tr>
           </thead>
         {% for m in matriculas %}
             <tr>
              <td>{{ m.curso }}</td>
             	<td>{{ m.persona.nip }} {{ m.persona.nombre }} {{ m.persona.apellidos }} </td>
             	<td>{{ m.plan }} </td>
             </tr>
         {% endfor %}
         </table>
     {% else %}
         <p>{% trans "No hay matrículas en la base de datos" %}</p>
     {% endif %}
{% endblock %}
