{% extends "envio/base.html" %}
{% load i18n %} 

{% block titulo %}
    <h1> {{ matricula.persona.nombre }} {{ matricula.persona.apellidos }} </h1>
{% endblock %}

{% block content %}

<table class="table table-striped">
    <tbody>
      <tr>
          <th>NIP</th>
            <td>{{ matricula.persona.nip }}</td>
        </tr>
        <tr>
          <th>{% trans "Nombre y apellidos" %}</th>
            <td>{{ matricula.persona.nombre }} {{ matricula.persona.apellidos }}</td>
        </tr>
        <tr>
          <th>{% trans "Curso" %}</th>
            <td>{{ matricula.curso }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}
