{% extends "envio/base.html" %}
{% load i18n %} 

{% block titulo %}
    <h1> INFORMACIÓN DE PERSONAS </h1>
{% endblock %}

{% block content %}
     {% if personas %}
         <table class="table table-striped">
           <thead>
           	<tr>
           	  <th>NIP</th>
           	  <th>{% trans "Nombre y apellidos" %}</th>
           	  <th>{% trans "Email" %}</th>
           	</tr>
           </thead>
         {% for p in personas %}
             <tr>
             	<td>{{ p.nip }} </td>
             	<td><a href="{% url 'list_persona' p.nip %}">{{ p.user.first_name|default:"-" }} {{ p.user.last_name|default:"-" }}</a> </td>
             	<td>{{ p.user.email }}</td>
             </tr>
         {% endfor %}
         </table>
     {% else %}
         <p>{% trans "No hay personas en la base de datos" %}</p>
     {% endif %}
{% endblock %}
