{% extends "base.html" %}

{% block titulo %}
    <h1> INFORMACIÓN DE CENTROS </h1>
    {% if cid %}
    	<h2>CENTRO {{ cid }}</h2>
    {% endif %}
{%endblock %}

{% block content %}
{% if centros %}
<table class="table table-striped">
  <thead>
  	<tr>
  	  <th>CÓDIGO CENTRO</th>
  	  <th>NOMBRE CENTRO</th>
  	  <th>LOCALIDAD</th>
  	  <th>URL</th>
  	  <th>Acciones</th>
  	</tr>
  </thead>
{% for c in centros %}
    <tr>
    	<td>{{ c.cid }} </td>
    	<td><a href="/centros/{{ c.cid }}">{{ c.nombre}}</a> </td>
    	<td>{{ c.get_localidad_display }} </td>
    	<td>{{ c.url }}</td>
    	<td><a href="/centros/{{ c.cid }}/editar">EDITAR</a> - <a href="/centros/{{ c.cid }}/borrar">BORRAR</a></td>
    </tr>
{% endfor %}
</table>
</div>
{% endif %}
{% endblock %}
