{% extends "base.html" %}

{% block titulo %}
    <h1> INFORMACIÓN DE PLANES </h1>
    {% if pid %}
    	<h2>PLAN {{ pid }}</h2>
    {% endif %}
{%endblock %}

{% block content %}
{% if planes %}
    <table class="table table-striped">
      <thead>
      	<tr>
      	  <th>CÓDIGO PLAN</th>
      	  <th>CURSO</th>
      	  <th>ESTUDIO</th>
      	  <th>CENTRO</th>
      	</tr>
      </thead>
    {% for p in planes %}
        <tr>
        	<td><a href="/planes/{{ p.pid }}">{{ p.pid}}</a> </td>
        	<td>{{ p.get_curso_display }}</td>
        	<td><a href="/estudios/{{ p.estudio.eid }}">{{ p.estudio.nombre }}</a> </td>
        	<td><a href="/centros/{{ p.centro.cid }}">{{ p.centro.nombre }}</a></td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endif %}
{% endblock %}
