#logounizartop{
	width:150px;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 15px; /* firefox bug fix */
  width: auto;
}

.size-1{font-size:0.8rem;}

.footer{}

#termsandconditions{display:none; border: 1px solid #F00; background-color: #FDD; padding:20px; margin:5px; }

#toggleTermsAndConditions {background:none!important;/*color:inherit;*/ color:blue;border:none; padding:0!important;font: inherit;cursor: pointer;}